- if user_signed_in?
  %li
    Welcome
    %b= current_profile.username
    = link_to "Logout",destroy_user_session_path
    = link_to "Edit", edit_profile_path
- else
  %li
    = link_to "Login", new_user_session_path
