%div
  %strong= link_to recipe.title, recipe
  %br
  Difficulty: #{recipe.difficulty}
  %br
  = render :partial => "recipes/rate_recipe", :object => recipe, :as => :recipe, :locals => {:static => true}
  %br
  Short Description: #{recipe.short_desc}
  %i
    =render "profiles/link", :profile => recipe.profile
