%div
  %strong= link_to recipe.title, recipe
  %br
  Difficulty: #{recipe.difficulty}
  %br
  = render "rate_recipe", :recipe => recipe
  %br
  Short Description: #{recipe.short_desc}
  %i
    =render "profiles/link", :profile => recipe.profile
